#menu-header {
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: rgb(228, 228, 228);
  height: 13vh;
  align-items: center;
}
#menu-header > h2 {
  font-size: xx-large;
}
#menuContainer {
  display: grid;
  margin-top: 5vh;
  /* grid-template: 400px 400px / 300px 300px 300px; */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
}
#main-menu-container {
}
.menu {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  box-shadow: 1px 1px 5px -2px black;
  border-radius: 20px;
  margin: 5vw;
  padding: 1rem;
}
.menuImg {
  width: 90%;
  margin: 1rem;
  border-radius: 10px;
}
.menuTitle{
  font-size: medium;
  margin: 3% 5%;
}
.menuDescription{
  font-size: x-small;
  margin: 3% 5%;
}
.BuyButton{
  background-color: black;
  color: white;
  padding: 1vw;
  border-radius: 20px;
  border: none;
  margin-top: 2vh;
}